<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Weather-Seeker</title>
  </head>
  <body>
    <div class="px-10 py-16">
      <fieldset>
        <form action="/" method="post">
          <input
            name="city"
            type="text"
            class="w-full px-5 py-1 mx-1 my-0 box-border"
            placeholder="enter a city"
          />
          <br />
          <button
            type="submit"
            class="bg-blue-400 border-2 border-solid px-4 py-2 min-w-2 bg"
          >
            check!
          </button>
        </form>

        <% if(weather !== null){ %>
        <p><%= weather %></p>
        <% } %> <% if(error !== null){ %>
        <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>
